@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0')format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0')format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0')format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0')format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')format('svg');
    font-weight: normal;
    font-style: normal
}

.home:before {
    content: "\f015";
    font-family: FontAwesome;
    font-size: large;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.banner_closed:before {
    content: "\f023";
    font-family: FontAwesome;
    font-size: xx-large;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.banner_open:before {
    content: "\f15c";
    font-family: FontAwesome;
    font-size: xx-large;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.checked_box:before {
    content: "\f046";
    font-family: FontAwesome;
    font-size: x-large;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.unchecked_box:before {
    content: "\f096";
    font-family: FontAwesome;
    font-size: x-large;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.checked_box_uncolor:before {
    content: "\f046";
    font-family: FontAwesome;
    font-size: x-large;
    display: inline-block;
    vertical-align: middle;
}

.unchecked_box_uncolor:before {
    content: "\f096";
    font-family: FontAwesome;
    font-size: x-large;
    display: inline-block;
    vertical-align: middle;
}

.altorischio:before {
    content: "\f071";
    font-family: FontAwesome;
    font-size: x-large;
    display: inline-block;
    vertical-align: middle;
}

.img16 img {
    width: 16px;
    height: 16px;
}

.img32 img {
    width: 32px;
    height: 32px;
}

af|table::data-row, af|table::data-row td span {
    cursor: default !important;
}

.choiceInTable > td, .padding8 > div > table > tbody > tr > td {
    padding-top: 8px !important;
}

.CellaImportante {
    font-weight: bold !important;
    font-style: italic !important;
    color: #0572CE !important;
}

.legenda .CellaImportante span {
    background-color: Highlight !important;
}

.CellaDeprecata {
    font-weight: bold !important;
    color: Silver !important;
    text-decoration: line-through;
}

.p_AFHighlighted td.CellaImportante {
    background-color: rgb(251, 206, 74, .5) !important
}

.AgendaConfermato {
    background-color: yellow !important;
}

.InvitoConfermato {
    text-decoration: underline !important;
}

.no_border, .no_border > div {
    border: none !important;
}

.MessEsclusione {
    font-weight: bold;
    font-style: italic;
    color: #FF3300;
}

.SlotLibero {
    background-color: #99ff99 !important;
}

.SlotPieno {
    background-color: #ff9933 !important;
}

.SlotOver {
    background-color: #ff0000 !important;
}

.lblMessage > tbody > tr > td {
    padding-top: 0px;
}

.Titolo2 {
    color: #003399;
    font-weight: bold;
    font-size: 12px;
}

.TestoImportante select {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    display: block;
    background-color: rgb(182, 233, 240);
}

.pmInTable td table td table td {
    padding-top: 0px;
}

.tabSelected {
    border-top: 3px solid #0572ce;
    border-right: 1px solid #c4ced7;
    border-left: 1px solid #c4ced7;
    background-color: #FFFFFF;
}

.tabSelected a {
    font-size: 12px;
    font-weight: bold;
}

.footerNumber {
    text-align: right;
}

.highlighting tr:hover td {
    background-color: #f7f8f9
}

.warnTitle af|dialog::title:before {
    content: "\f071";
    color: rgb(242, 210, 0);
    font-family: FontAwesome;
    font-size: large;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

/**CUSTOM checkbox*/
.checkbox span, .checkbox span span{
  color: inherit!important;
}

/*style label to display checkbox*/
.checkbox .p_OraHiddenLabel {
position: relative;
left: inherit;
font-size:x-large;
top: inherit;
content: "";
display: inline-block;
position: relative;
left: inherit;
}

/*style for unchecked state
Set the content to have no issues with moving elements when switching between states â€“ the content is hidden, but save space for it.
*/

.checkbox input[type="checkbox"]:not(:checked) + label:before {
content:"\f096";
 font-family:FontAwesome;
 font-size:x-large;
 display:inline-block;
 vertical-align:middle;
 color: inherit;
 padding-right: 3px;
}

/*style for checked state*/
.checkbox input[type="checkbox"]:checked + label:before {
content:"\f046";
 font-family:FontAwesome;
 font-size:x-large;
 display:inline-block;
 vertical-align:middle;
 color: inherit;
 padding-right: 3px;
}

/*styling disabled chheckbox*/
.checkbox input[type="checkbox"]:disabled + label {
  color: inherit;
}

/**hide checkbox*/
.checkbox input[type="checkbox"] {
display: none;
}

.TitoloCI {
     color:#FF0000;
      background-color:#FFFF00;
}
.TitoloCO {
      color:#0000FF;
      background-color:#CCFFCC;
      }
.TitoloMA {
      color:#8000C4;
      background-color:#FFCCFF;
    }
.TitoloCA {
      color:#B84900;
      background-color:#FFB380;
    }

.inputCheckInPanel td{
    padding-top: 0;
}